.PgImgHeader{
    padding-top: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
  }

  .PgImgHeader{
    margin-top: 53px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .PgImgHeader-text{
    margin-top: 50px;
    position: absolute;
    width:100%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: peachpuff;
    font-family: sans-serif;
  }

  .cardRow{
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    padding-top: 50px;
    align-self: center;
    align-content: center;
    justify-content: center;
    
  }

  .cardContainer{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    align-content: center;
    justify-content: center;
  align-self: center;
  align-content: center;
  }


  .cardDivider{
    padding: 20px;
  }

  .courseSection{
    padding-top: 80px;
    align-content: center;
    text-align: center;
    justify-content: center;
  }

  .courseList{
    text-decoration: none;
  }
li{
text-decoration: none;
list-style: none;
}

  ul li{
    text-decoration: none;
  }

  p ul li{
    text-decoration: none;
  }

  .buyButton{
    background-color: greenyellow;
  }

  .buyButton:hover{
    background-color: blueviolet;
    transform:scale(1.1);
    cursor:pointer;
  }

  .footer{
    padding-top: 90px;
font-size: 14px;
font-family: sans-serif;
justify-content: center;
text-align:center;
background-color: grey;
padding-bottom: 20px;
  }

  .doublePic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .courseSection-{
    padding-top: 40px;
    align-content: center;
    text-align: center;
    justify-content: center;
  }
  .contactInfo{
    text-align: center;
  }

  .contactInfo-area{
    background-color: grey;
  }